@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');

/* ENVOLPE**/

 body {
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f5db;
 }

 input#flap {
   display: none;
 }

 .container{
  justify-content: center;
  justify-items: center;
  width: 80%;
  height: 100%;
  margin-top: 10%;
  
 }

 .envelope-container {
   position: relative;
   width: fit-content;
   margin: auto;
 }

 .envelope-back {
   position: relative;
   width: 320px;
   height: 200px;
   display: block;
   background-color: #718355;
 }

 .envelope-back:before {
   content: "";
   position: absolute;
   background-color: rgba(0, 0, 0, 0.07);
   width: 320px;
   height: 10px;
   border-radius: 50%;
   top: 220px;
 }

 .card {
   position: absolute;
   width: 300px;
   height: 190px;
   background-color: rgba(255, 255, 255, 0);
   top: 10px;
   left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   font-family: Brush Script MT;
   transition: .1s;
   z-index: 1;
   cursor: pointer;
   
 }

 .card-front {
   position: absolute;
   width: 0;
   height: 0;
   border-bottom: 100px solid #87986a;
   border-left: 160px solid transparent;
   border-right: 160px solid transparent;
   top: 100px;
   left: 0;
   z-index: 3;
 }

 .card-front:before,
 .card-front:after {
   content: "";
   position: absolute;
   border-bottom: 100px solid transparent;
   border-top: 100px solid transparent;
   height: 0;
   width: 0;
 }

 .card-front:before {
   border-left: 161px solid transparent;
   border-right: 161px solid #97a97c;
   top: -100px;
   left: -162px;
 }

 .card-front:after {
   border-right: 161px solid transparent;
   border-left: 161px solid #97a97c;
   top: -100px;
   left: -160px;
 }

 .flap {
   position: absolute;
   width: 0;
   height: 0;
   border-top: 160px solid #b5c99a;
   border-left: 160px solid transparent;
   border-right: 160px solid transparent;
   top: 0;
   left: 0;
   cursor: pointer;
   transition: .4s;
   transform-origin: top;
   z-index: 4;
 }

 #flap:checked+.flap {
   transform: rotateX(180deg);
 }

 #flap:checked~.card-front {
   z-index: 7;
 }

 #flap:checked~.card {
   z-index: 4;
   transform: translateY(-110px);
 }


 /*----------------**/
 @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i");


 

 .heart {
   position: absolute;
   top: 50%;
   left: 50%;
 }

 .heart:before,
 .heart:after {
   position: absolute;
   content: '';
   left: 34px;
   top: 0;
   width: 35px;
   height: 50px;
   background: #482e26;
   -moz-border-radius: 20px 50% 0 0;
   border-radius: 30px 30px 0 0;
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   transform-origin: 0 100%;
 }

 .heart:after {
   left: 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transform-origin: 100% 100%;
   -ms-transform-origin: 100% 100%;
   transform-origin: 100% 100%;
 }

 .animate-topright {
   position: absolute;
   -webkit-animation: movetopRight 6.5s 1s infinite;
   -moz-animation: movetopRight 6.5s 1s infinite;
   -o-animation: movetopRight 6.5s 1s infinite;
   -ms-animation: movetopRight 6.5s 1s infinite;
   animation: movetopRight 6.5s 1s infinite;
 }

 .animate-bottomright {
   position: absolute;
   -webkit-animation: movebottomRight 4.5s 1.7s infinite;
   -moz-animation: movebottomRight 4.5s 1.7s infinite;
   -o-animation: movebottomRight 4.5s 1.7s infinite;
   -ms-animation: movebottomRight 4.5s 1.7s infinite;
   animation: movebottomRight 4.5s 1.7s infinite;
 }

 .animate-topleft {
   position: absolute;
   -webkit-animation: movetopLeft 8.5s 5.4s infinite;
   -moz-animation: movetopLeft 8.5s 5.4s infinite;
   -o-animation: movetopLeft 8.5s 5.4s infinite;
   -ms-animation: movetopLeft 8.5s 5.4s infinite;
   animation: movetopLeft 8.5s 5.4s infinite;
 }

 .animate-bottomleft {
   position: absolute;
   -webkit-animation: movebottomLeft 7.5s 4.8s infinite;
   -moz-animation: movebottomLeft 7.5s 4.8s infinite;
   -o-animation: movebottomLeft 7.5s 4.8s infinite;
   -ms-animation: movebottomLeft 7.5s 4.8s infinite;
   animation: movebottomLeft 7.5s 4.8s infinite;
 }

 .animate-up {
   position: absolute;
   -webkit-animation: moveup 7.5s 2.2s infinite;
   -moz-animation: moveup 7.5s 2.2s infinite;
   -o-animation: moveup 7.5s 2.2s infinite;
   -ms-animation: moveup 7.5s 2.2s infinite;
   animation: moveup 7.5s 2.2s infinite;
 }

 .animate-down {
   position: absolute;
   -webkit-animation: movedown 5.5s 5.5s infinite;
   -moz-animation: movedown 5.5s 5.5s infinite;
   -o-animation: movedown 5.5s 5.5s infinite;
   -ms-animation: movedown 5.5s 5.5s infinite;
   animation: movedown 5.5s 5.5s infinite;
 }

 .animate-left {
   position: absolute;
   -webkit-animation: moveleft 5.5s 2.9s infinite;
   -moz-animation: moveleft 5.5s 2.9s infinite;
   -o-animation: moveleft 5.5s 2.9s infinite;
   -ms-animation: moveleft 5.5s 2.9s infinite;
   animation: moveleft 5.5s 2.9s infinite;
 }

 .animate-right {
   position: absolute;
   -webkit-animation: moveright 5.5s 3.4s infinite;
   -moz-animation: moveright 5.5s 3.4s infinite;
   -o-animation: moveright 5.5s 3.4s infinite;
   -ms-animation: moveright 5.5s 3.4s infinite;
   animation: moveright 5.5s 3.4s infinite;
 }

 @keyframes movetopRight {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 10%;
     left: 80%;
     opacity: 0;
   }
 }

 @keyframes movebottomRight {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 90%;
     left: 90%;
     opacity: 0;
   }
 }

 @keyframes movetopLeft {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 10%;
     left: 20%;
     opacity: 0;
   }
 }

 @keyframes movebottomLeft {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 90%;
     left: 5%;
     opacity: 0;
   }
 }

 @keyframes moveup {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 0%;
     left: 45%;
     opacity: 0;
   }
 }

 @keyframes movedown {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 100%;
     left: 45%;
     opacity: 0;
   }
 }

 @keyframes moveleft {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 45%;
     left: 10%;
     opacity: 0;
   }
 }

 @keyframes moveright {
   0% {
     top: 50%;
     left: 50%;
     opacity: 0.9;
   }

   100% {
     top: 45%;
     left: 97%;
     opacity: 0;
   }
 }

 h1 {
   width: 100%;
   position: relative;
   font-family: "Cormorant Garamond", serif;
   font-size: 45px;
   color: #225578;
   text-align: center;
   letter-spacing: 3px;
   
   margin-top: 50px;  
 }

 .arabic{
  font-size: 50px;
    font-family: 'Reem Kufi Fun', Courier, monospace, serif;
    margin-top: 20px;
 }
