@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* ENVOLPE**/

 body {
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f5db;
    height: 100%;
 }

 input#flap {
   display: none;
 }

 .container{
  justify-content: center;
  justify-items: center;
  width: 80%;
  height: 100%;
  margin-top: 3%;
  
 }

 .envelope-container {
   position: relative;
   width: fit-content;
   margin: auto;
 }

 .envelope-back {
   position: relative;
   width: 320px;
   height: 200px;
   display: block;
   background-color: #718355;
 }

 .envelope-back:before {
   content: "";
   position: absolute;
   background-color: rgba(0, 0, 0, 0.07);
   width: 320px;
   height: 10px;
   border-radius: 50%;
   top: 220px;
 }

 .card {
   position: absolute;
   width: 300px;
   height: 190px;
   background-color: rgba(255, 255, 255, 0);
   top: 10px;
   left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   font-family: Brush Script MT;
   transition: .1s;
   z-index: 1;
   cursor: pointer;
   
 }

 .card-front {
   position: absolute;
   width: 0;
   height: 0;
   border-bottom: 100px solid #87986a;
   border-left: 160px solid transparent;
   border-right: 160px solid transparent;
   top: 100px;
   left: 0;
   z-index: 3;
 }

 .card-front:before,
 .card-front:after {
   content: "";
   position: absolute;
   border-bottom: 100px solid transparent;
   border-top: 100px solid transparent;
   height: 0;
   width: 0;
 }

 .card-front:before {
   border-left: 161px solid transparent;
   border-right: 161px solid #97a97c;
   top: -100px;
   left: -162px;
 }

 .card-front:after {
   border-right: 161px solid transparent;
   border-left: 161px solid #97a97c;
   top: -100px;
   left: -160px;
 }

 .flap {
   position: absolute;
   width: 0;
   height: 0;
   border-top: 160px solid #b5c99a;
   border-left: 160px solid transparent;
   border-right: 160px solid transparent;
   top: 0;
   left: 0;
   cursor: pointer;
   transition: .4s;
   transform-origin: top;
   z-index: 4;
 }

 #flap:checked+.flap {
   transform: rotateX(180deg);
 }

 #flap:checked~.card-front {
   z-index: 7;
 }

 #flap:checked~.card {
   z-index: 4;
   transform: translateY(-110px);
 }



 /*--fonts--------------**/
 @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i");

 h1 {
   width: 100%;
   position: relative;
   font-family: 'Neucha' ,'Sevillana' ,"Cormorant Garamond", serif;
   font-size: 45px;
   color: #225578;
   text-align: center;
   letter-spacing: 3px;
   
   margin-top: 50px;  
 }

 .clock {
   width: 100%;
   position: relative;
   font-family: 'Neucha' ,'Sevillana' ,"Cormorant Garamond", serif;
   font-size: 35px;
   color: #225578;
   text-align: center;
   margin-top: -20px;
 }

 .dates{
  justify-content: flex-start;
  width: auto;
  margin-top: 90px;
 }

 .arabic{
  font-size: 40px;
    font-family: 'Aref Ruqaa',  'Reem Kufi Fun', Courier, monospace, serif;
    margin-top: 60px;
    line-height: 60px;
 }

/*---------hearts--------*/


.bg_heart {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
 overflow: inherit
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0% {
    top: 160%
  }
}

@-moz-keyframes love {
  0% {
    top: 160%
  }
}

@-ms-keyframes love {
  0% {
    top: 160%
  }
}

@keyframes love {
  0% {
    top: 160%
  }
}



 /*=====butterfly=======*/

 /* Inspired by https://codepen.io/htgmanics/pen/nJwdl */
 @keyframes rotating {
   0% {
     -webkit-transform: rotate3d(0, 0, 0, 0deg);
     -moz-transform: rotate3d(0, 0, 0, 0deg);
     -ms-transform: rotate3d(0, 0, 0, 0deg);
     -o-transform: rotate3d(0, 0, 0, 0deg);
     transform: rotate3d(0, 0, 0, 0deg);
   }

   100% {
     -webkit-transform: rotate3d(0, 1, 0, 720deg);
     -moz-transform: rotate3d(0, 1, 0, 720deg);
     -ms-transform: rotate3d(0, 1, 0, 720deg);
     -o-transform: rotate3d(0, 1, 0, 720deg);
     transform: rotate3d(0, 1, 0, 720deg);
   }
 }

 @keyframes rotatingY {
   100% {
     -webkit-transform: rotateY(-360deg);
     -moz-transform: rotateY(-360deg);
     -ms-transform: rotateY(-360deg);
     -o-transform: rotateY(-360deg);
     transform: rotateY(-360deg);
   }
 }

 @keyframes fluttering {

   0%,
   25%,
   50%,
   75%,
   100% {
     -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
     -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }

   10%,
   60% {
     -webkit-transform: translate3d(0, 150px, 0);
     -moz-transform: translate3d(0, 150px, 0);
     -ms-transform: translate3d(0, 150px, 0);
     -o-transform: translate3d(0, 150px, 0);
     transform: translate3d(0, 150px, 0);
   }

   30%,
   80% {
     -webkit-transform: translate3d(0, 50px, 0);
     -moz-transform: translate3d(0, 50px, 0);
     -ms-transform: translate3d(0, 50px, 0);
     -o-transform: translate3d(0, 50px, 0);
     transform: translate3d(0, 50px, 0);
   }
 }

 @keyframes left-wing-flap {
   0% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -o-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
   }

   50% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, -70deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, -70deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, -70deg);
     -o-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, -70deg);
     transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, -70deg);
   }

   100% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     -o-transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
     transform: translate3d(0, 0, 0) scaleX(1) rotate3d(0, 1, 0, 60deg);
   }
 }

 @keyframes right-wing-flap {
   0% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -o-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
   }

   50% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, -70deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, -70deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, -70deg);
     -o-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, -70deg);
     transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, -70deg);
   }

   100% {
     -webkit-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -moz-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -ms-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     -o-transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
     transform: translate3d(0, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 60deg);
   }
 }

 .butterfly_container {
   width: 100PX;
   height: 100px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }

 .butterfly_container var {
   position: absolute;
   left: 0%;
   top: 50%;
   width: 100px;
   height: 100px;
   margin-left: -50px;
   margin-top: -50px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }

 .butterfly_container var.rotate3d {
   -webkit-transform: rotate3d(1, 0.5, 0, 50deg);
   -moz-transform: rotate3d(1, 0.5, 0, 50deg);
   -ms-transform: rotate3d(1, 0.5, 0, 50deg);
   -o-transform: rotate3d(1, 0.5, 0, 50deg);
   transform: rotate3d(1, 0.5, 0, 50deg);
 }

 .butterfly_container var.translate3d {
   -webkit-animation: fluttering 10s ease-in-out infinite;
   -moz-animation: fluttering 10s ease-in-out infinite;
   -ms-animation: fluttering 10s ease-in-out infinite;
   -o-animation: fluttering 10s ease-in-out infinite;
   animation: fluttering 10s ease-in-out infinite;
 }

 .butterfly_container figure.butterfly {
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100px;
   height: 100px;
   margin-left: -50px;
   margin-top: -50px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
 }

 .butterfly_container figure.butterfly .wing {
   position: absolute;
   width: 50px;
   height: 100px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%;
   -moz-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   -o-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
   -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 0.5, 0, 45deg);
   -moz-transform: translate3d(0, 0, 0) rotate3d(1, 0.5, 0, 45deg);
   -ms-transform: translate3d(0, 0, 0) rotate3d(1, 0.5, 0, 45deg);
   -o-transform: translate3d(0, 0, 0) rotate3d(1, 0.5, 0, 45deg);
   transform: translate3d(0, 0, 0) rotate3d(1, 0.5, 0, 45deg);
 }

 .butterfly_container figure.butterfly .wing.right {
   -webkit-transform-origin: 50px 50px;
   -moz-transform-origin: 50px 50px;
   -ms-transform-origin: 50px 50px;
   -o-transform-origin: 50px 50px;
   transform-origin: 50px 50px;
   -webkit-transform: translate3d(0px, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 45deg);
   -moz-transform: translate3d(0px, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 45deg);
   -ms-transform: translate3d(0px, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 45deg);
   -o-transform: translate3d(0px, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 45deg);
   transform: translate3d(0px, 0, 0) scaleX(-1) rotate3d(0, 1, 0, 45deg);
   -webkit-animation: right-wing-flap 1s ease-in-out infinite;
   -moz-animation: right-wing-flap 1s ease-in-out infinite;
   -ms-animation: right-wing-flap 1s ease-in-out infinite;
   -o-animation: right-wing-flap 1s ease-in-out infinite;
   animation: right-wing-flap 1s ease-in-out infinite;
   filter: FlipH;
   -ms-filter: "FlipH";
 }

 .butterfly_container figure.butterfly .wing.left {
   -webkit-transform-origin: 50px 50px;
   -moz-transform-origin: 50px 50px;
   -ms-transform-origin: 50px 50px;
   -o-transform-origin: 50px 50px;
   transform-origin: 50px 50px;
   -webkit-animation: left-wing-flap 1s ease-in-out infinite;
   -moz-animation: left-wing-flap 1s ease-in-out infinite;
   -ms-animation: left-wing-flap 1s ease-in-out infinite;
   -o-animation: left-wing-flap 1s ease-in-out infinite;
   animation: left-wing-flap 1s ease-in-out infinite;
 }

 .butterfly_container figure.butterfly .wing use {
   display: block;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
   fill: url(#image);
 }

 .svg-defs {
   position: absolute;
   height: 0;
   width: 0;
 }